* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 1rem;
}

body {
    font-family:Arial, Helvetica, sans-serif
}

a { color: black;
    text-decoration: none;
}


ul {
    list-style-type: none;
}

.logo{
    display: flex;
    color: #D2872C;
    text-shadow: black;
    font-size: 26px;
}

.logo-cabecalho{
    display: flex;
    padding-left: 20px;
    font-size: 1.3rem;
    font-weight: 600;
    
}

.cabecalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    margin-top: 40px;
    flex-wrap: wrap;

}

.menu-cabecalho {
    display: flex;
    font-size: 1.3rem;
    gap: 10px;

    
}

.cabecalho-menu-item{
    padding-left: 12px;
    padding-right: 10px;
}


.conteudo{
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    margin-left: -342px;

}
.conteudo-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0;
    
    
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 36px;
    z-index: 2;

    
}

.conteudo-principal-titulo {
    display: flex;
    font-family: 'roboto', Helvetica, sans-serif;
    font-weight: 700;
    font-size: 64px;
    color:#766F68;

    
}

.conteudo-principal-texto{
    font-family: 'roboto', Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #766F68;
    
    
}

.conteudo-principal-botao{
    background-color: #D2872C;
    width: 250px;
    height: 60px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'roboto', Helvetica, sans-serif;
    font-size: 26px;
    font-weight: 700;
    
    padding: 15px;
       
}

.container-conteudo-principal-imagem {

    margin-top: 23px;
    width: 150px;
  height: 150px;
  position: relative;
  margin-left: -120px;
}

.conteudo-principal-imagem {
    width: 629px;
    height: 380px;
}






